@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/**
Color Palette:

for navbar and text: rgb(35, 41, 49) (black)
for order now button: rgb(247, 56, 89) (red)
for CTA text: rgb(241, 209, 138) (gold)
for footer and whitespaces: rgb(237, 237, 237) (white)

**/

:root{
    --blackish-c: rgb(35, 41, 49);
    --soft-red-c: rgb(247, 56, 89);
    --light-gold-c: rgb(241, 209, 138);
    --whitespace-c: rgb(237, 237, 237); 
}

body{
    min-height: 100vh;
}

header{
    /*will have a background image*/
}

nav{
    background-color: var(--blackish-c);
}

a{
    text-decoration: none;
}

a:link{
    color: var(--whitespace-c);
}

a:visited{
    color: var(--whitespace-c);
}

a:focus{
    color: var(--light-gold-c);
}

a:hover {
    color: var(--light-gold-c);
}

a:active{
    color: var(--light-gold-c);
}

.nav-list-grp{
    text-align: center;
}


/* Create a nav button with animation and interactable w/ js*/